<link rel="icon" type="image/png" href="{{ '/images/profile.png' | relative_url }}">
<link rel="apple-touch-icon" href="{{ '/images/profile.png' | relative_url }}">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ '/assets/css/academicons.css' | relative_url }}">
{% if page.math %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']], processEscapes: true } });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML" async></script>
{% endif %}
